body {
    background-image: url("keffiyeh4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-weight: 600;
    border-radius: 10px;
}
    
div {
    text-align: left;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-size: 125%;
    font-weight: 600;
    border-radius: 10px;
    line-height: 25px;
    padding: 10px;
    overflow: auto;
    
}   

table {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-size: 125%;
    font-weight: 600;
    border-radius: 10px;
} 

.map {
    float: right;
    margin: 10px;
}

div.right {
    float: right;
}

table.center1 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-size: 125%;
    font-weight: 600;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
        width: 50%;
} 

table.left1 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-size: 125%;
    font-weight: 600;
    border-radius: 10px;
    float: left;
    width: 50%;
} 

table.center2 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-size: 125%;
    font-weight: 600;
    border-radius: 10px;
    float: left;
    width: 33.3%;
} 

table.left2 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-size: 125%;
    font-weight: 600;
    border-radius: 10px;
    float: left;
    width: 33.3%;
} 

table.right2 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.95);
    border: 2px solid black;
    font-size: 125%;
    font-weight: 600;
    border-radius: 10px;
    float: left;
        width: 33.3%;
} 

table.example {
    text-align: center;
        margin-left: auto;
    margin-right: auto;
}


ul {
    list-style: none;
}


img { 

  border: 2px solid black;
  display: block;
  margin: auto;
  
}

ul.menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    }
    
a.menu {
    display: block;
    padding: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a.menu:hover {
    background-color: white;
}

a.drop {
    display: block;
    padding: 8px;
    color: black;
    text-align: left;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(225,225,225,.98);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(225,225,225,.95);
    text-align: center;
    font-size: 100%;
}

.dropdown a:hover {background-color: white}

.drop a:hover {background-color: white}

.drop:hover .dropdown {
    display: block;
}

svg{
  width:1000px;
}
.wrapper{
  font-size: 100%;
}