body {
    background-image: url("keffiyeh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.8);
    border: 2px solid black;
    font-weight: bold;
    border-radius: 10px;
}
    
div {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.8);
    border: 2px solid black;
    font-size: 125%;
    font-weight: bold;
    border-radius: 10px;
    line-height: 25px;
}   

table {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.8);
    border: 2px solid black;
    font-size: 125%;
    font-weight: bold;
    border-radius: 10px;
} 

ul {
    list-style: none;
}


img { 

  border: 2px solid black;
  display: block;
  margin: auto;
  
}

ul.menu {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    }
    
a.menu {
    display: block;
    padding: 8px;
    color: black;
}

li a.menu:hover {
    background-color: white;
}
