body {
    background-image: url("keffiyeh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.5);
    border: 2px solid black;
    font-weight: bold;
    border-radius: 10px;
}
    
p, div {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.75);
    border: 2px solid black;
    font-size: 125%;
    font-weight: bold;
    border-radius: 10px;
}   

table {
    text-align: center;
    color: #000000;
    background-color: rgba(225,225,225,.75);
    border: 2px solid black;
    font-size: 125%;
    font-weight: bold;
    border-radius: 10px;
} 

ul {
 list-style: none;
}


img { 

  border: 2px solid black;
  display: block;
  margin: auto;
  
}

ul [about='menu'] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(225,225,225,.5);
    overflow: hidden;

}

li [about='menu'] {
    float: left;
}

a [about='menu'] {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

li a [about='menu']{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover [about='menu'] {
    background-color: #111;
}